@model RentalSystem.Models.IndevidualButtonPartial
<a type="button" class="btn @Model.ButtonType btn-sm" href="@Url.Action(Model.Action)@Model.ActionPerameter">
    <span class="glyphicon glyphicon-@Model.Glyth"></span>
    <span></span>
</a>
